/* This file is unused but kept in repo in case we ever want to use explicit sized fonts */

/* satoshi-100 - latin */
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(''),
  url('../fonts/woff2/Satoshi-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-100 - italic */
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: local(''),
  url('../fonts/woff2/Satoshi-LightItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-200 - latin */
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''),
  url('../fonts/woff2/Satoshi-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-200 - italic */
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local(''),
  url('../fonts/woff2/Satoshi-RegularItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-RegularItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-300 - latin */
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(''),
  url('../fonts/woff2/Satoshi-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-300 - italic */
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local(''),
  url('../fonts/woff2/Satoshi-MediumItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-400 - latin */
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
  url('../fonts/woff2/Satoshi-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-400 - italic */
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local(''),
  url('../fonts/woff2/Satoshi-BoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-500 - latin */
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(''),
  url('../fonts/woff2/Satoshi-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* satoshi-500 - italic */
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local(''),
  url('../fonts/woff2/Satoshi-BlackItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/woff/Satoshi-BlackItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
