// TODO add canonical forms of the `local('Satoshi')` for example `local('Satoshi-Light')`

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: local('Satoshi'),
  url('fonts/woff2/Satoshi-Variable.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/woff/Satoshi-Variable.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Satoshi;
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: local('Satoshi'),
  url('fonts/woff2/Satoshi-VariableItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/woff/Satoshi-VariableItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local('Poppins'),
  local('Poppins-Thin'),
  url('fonts/ttf/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local('Poppins'),
  local('Poppins-ExtraLight'),
  url('fonts/ttf/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Poppins'),
  local('Poppins-Light'),
  url('fonts/ttf/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Poppins'),
  local('Poppins-Regular'),
  url('fonts/ttf/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Poppins'),
  local('Poppins-Medium'),
  url('fonts/ttf/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Poppins'),
  local('Poppins-SemiBold'),
  url('fonts/ttf/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Poppins'),
  local('Poppins-Bold'),
  url('fonts/ttf/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local('Poppins'),
  local('Poppins-ExtraBold'),
  url('fonts/ttf/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local('Poppins'),
  local('Poppins-Black'),
  url('fonts/ttf/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: local('Poppins'),
  local('Poppins-ThinItalic'),
  url('fonts/ttf/Poppins-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: local('Poppins'),
  local('Poppins-ExtraLightItalic'),
  url('fonts/ttf/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local('Poppins'),
  local('Poppins-LightItalic'),
  url('fonts/ttf/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local('Poppins'),
  local('Poppins-RegularItalic'),
  url('fonts/ttf/Poppins-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local('Poppins'),
  local('Poppins-MediumItalic'),
  url('fonts/ttf/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local('Poppins'),
  local('Poppins-SemiBoldItalic'),
  url('fonts/ttf/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local('Poppins'),
  local('Poppins-BoldItalic'),
  url('fonts/ttf/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: local('Poppins'),
  local('Poppins-ExtraBoldItalic'),
  url('fonts/ttf/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local('Poppins'),
  local('Poppins-BlackItalic'),
  url('fonts/ttf/Poppins-BlackItalic.ttf') format('truetype');
}
