<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-500.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-700.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="{{ "fonts/woff2/Satoshi-Black.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-BlackItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-Bold.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-BoldItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-Regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-Italic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-Light.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-LightItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-Medium.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-MediumItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-Variable.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-VariableItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="{{ "fonts/woff/Satoshi-Black.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-BlackItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-Bold.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-BoldItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-Regular.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-Italic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-Light.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-LightItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-Medium.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-MediumItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-Variable.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-VariableItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
