<!--<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-500.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-700.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>-->

<link rel="preload" href="{{ "fonts/woff2/Satoshi-Variable.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<!--<link rel="preload" href="{{ "fonts/woff2/Satoshi-VariableItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>-->

<link rel="preload" href="{{ "fonts/woff/Satoshi-Variable.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<!--<link rel="preload" href="{{ "fonts/woff/Satoshi-VariableItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>-->

<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-Thin.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-ExtraLight.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-Light.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<link rel="preload" href="{{ "fonts/ttf/Poppins-Regular.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-Medium.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-SemiBold.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<link rel="preload" href="{{ "fonts/ttf/Poppins-Bold.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-ExtraBold.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-Black.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->

<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-ThinItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-ExtraLightItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-LightItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-Italic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-MediumItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-SemiBoldItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-BoldItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-ExtraBoldItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
<!--<link rel="preload" href="{{ "fonts/ttf/Poppins-BlackItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>-->
