<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-500.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/vendor/jost/jost-v4-latin-700.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="{{ "fonts/woff2/Satoshi-Variable.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/woff2/Satoshi-VariableItalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="{{ "fonts/woff/Satoshi-Variable.woff" | absURL }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ "fonts/woff/Satoshi-VariableItalic.woff" | absURL }}" as="font" type="font/woff" crossorigin>
