{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-xl-8 text-center p-3">
      <img class="h1-height d-inline flex-wrap-reverse" src="{{ "svgs/logo-just-colour.svg" | absURL }}" alt="RapidRecast" style="margin-right:0.7em; display:inline-block;"/>
      <h1 class="d-inline text-nowrap">{{ .Title }}</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}" role="button">{{ i18n "get_started" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <!-- Align content stretch and wrap?-->
        <div class="row justify-content-center text-center">
          {{ range .Params.cards }}
            {{ partial "landing/feature-block.html" . }}
          {{ end }}
        </div>
    </div>
  </section>
  {{ partial "landing/section-protocols.html" . }}
  {{ partial "landing/section-server-client.html" . }}
  {{ partial "landing/section-sync-async.html" . }}
  {{ partial "landing/section-scalability.html" . }}
  {{ partial "landing/section-request-batching.html" . }}
  {{ partial "landing/section-rust.html" . }}
  {{ partial "landing/section-zero-integration.html" . }}
  {{ partial "landing/section-stability.html" . }}
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
