<section class="section section-md section-features" id="stability">
    <div class="container">
        <h1 class="rapid-gradient-text">Stability</h1>
        <p>
            At RapidRecast, stability isn’t an afterthought — it’s a core feature. We adopt the same rigorous methodologies trusted by database providers to ensure the system remains reliable and behaves predictably, even under heavy workloads.
        </p>
        <img class="img-fluid float-start me-3 light-mode" src="{{ "graphics/landing/RapidRecast-Stability.svg" | relURL }}" style="width: 500px;"/>
        <img class="img-fluid float-start me-3 dark-mode" src="{{ "graphics/landing/RapidRecast-Stability-dark.svg" | relURL }}" style="width: 500px;"/>

        <p>
            To uphold data correctness guarantees, we run Jepsen tests on the live product, ensuring that consistency and reliability are never compromised.
        </p>

        <p>
            Our code is designed in a sans-IO architecture, meaning it operates independently of the network or storage during testing. By abstracting these components, we’re able to:
        </p>
        <ul>
            <li>

                Perform high-frequency fuzzing and high-cardinality tests, pushing the system far beyond typical conditions.
            </li>
            <li>

                Enable deterministic testing, allowing us to identify and fix unexpected errors before they ever reach you.
            </li>
        </ul>
        <p>
            With RapidRecast, you can trust in a system that is meticulously tested, robust, and built to perform flawlessly in every scenario.
        </p>
    </div>
</section>
