<section class="section section-md section-features" id="streaming-as-you-like-it">
    <div class="container">
        <h1 class="rapid-gradient-text">Streaming, as you like it</h1>
        <p>
            Different teams, different tools, different preferences. When it comes to streaming, convenience means something unique to everyone:
        </p>
        <img class="img-fluid float-end me-3 light-mode" src="{{ "graphics/landing/RapidRecast-protocols.svg" | relURL }}" style="width: 400px;"/>
        <img class="img-fluid float-end me-3 dark-mode" src="{{ "graphics/landing/RapidRecast-protocols-dark.svg" | relURL }}" style="width: 400px;"/>

        <ul>
            <li>Your frontend team thrives with <span class="rapid-gradient-text">WebSockets</span> or <span class="rapid-gradient-text">HTTP 2 resource streams</span>.</li>
            <li>Your backend team prefers the structure and efficiency of <span class="rapid-gradient-text">gRPC</span>.</li>
            <li>Your infrastructure team everything centralised in <span class="rapid-gradient-text">Kafka</span>.</li>
            <li>Your data team finds power in <span class="rapid-gradient-text">Flink</span> for processing streams.</li>
            <li>Your hardware team relies on <span class="rapid-gradient-text">WebRTC</span> for seamless device communication.</li>
            <li>And sometimes, integrations demand the simplicity of <span class="rapid-gradient-text">HTTP Webhooks</span>.</li>
        </ul>
        <p>
            But it’s not just about your teams. Your customers may also have specific preferences.
            Some may rely on Kafka for large-scale streaming, while others find WebSockets the most intuitive.
        </p>
        <p>
            <span class="logo-font">RapidRecast</span> channels bridge all these diverse needs, enabling every protocol to communicate seamlessly with another.
            It ensures unmatched interoperability and flexibility across your systems while allowing you to conveniently offer streams in the formats your customers prefer.
        </p>
        <p>
            Whether you're unifying teams, integrating products, or empowering customers, <span class="logo-font">RapidRecast</span> makes it effortless.
        </p>
    </div>
</section>
