<section class="section section-md section-features" id="sync-async">
    <div class="container">
        <h1 class="rapid-gradient-text">Synchronous or Asynchronous</h1>
        <p>
            Synchronous requests are straightforward: you send a request and get a response quickly.
            It’s simple, intuitive, and easy to work with.
        </p>
        <img class="img-fluid float-end me-3 light-mode" src="{{ "graphics/landing/RapidRecast-Sync-Async.svg" | relURL }}" style="width: 400px;"/>
        <img class="img-fluid float-end me-3 dark-mode" src="{{ "graphics/landing/RapidRecast-Sync-Async-dark.svg" | relURL }}" style="width: 400px;"/>
        <p>
            But what happens when a request takes too long to process?
            If the server is tied up handling it, resources can quickly become bottlenecks.
            To manage high volumes of traffic, engineers have turned to asynchronous communication, which allows requests to be processed independently.
        </p>

        <p>
            However, asynchronous communication isn’t without its challenges:
            <ul>
                <li>
                    You need to track requests and responses, ensuring everything aligns.
                </li>
                <li>
                    You must balance traffic and maintain the correct order of related requests.
                </li>
                <li>
                    You’re responsible for delivery guarantees, preventing clients from waiting indefinitely for a response.
                </li>
            </ul>
        </p>

        <p>
            With RapidRecast, you don’t have to choose one over the other.
            Whether synchronous or asynchronous communication works best for your scenario, RapidRecast seamlessly integrates the two.
            Now, you can focus on building your system while letting us handle the complexities.
        </p>
    </div>
</section>
