<section class="section section-md section-features" id="rust">
    <div class="container">
        <h1 class="rapid-gradient-text">Rust all the way</h1>
        <p>
            Rust is a systems programming language renowned for its exceptional performance and unparalleled safety guarantees.
            Its innovative design enables developers to write fast, reliable software without compromising on security or correctness.
        </p>
        <!--        THE DIMENSIONS ARE DIFFERENT HERE-->
        <img class="img-fluid float-start me-3 light-mode svg-black" src="{{ "svgs/rust-svgrepo-com.svg" | relURL }}" style="width: 300px;"/>
        <img class="img-fluid float-start me-3 dark-mode svg-white" src="{{ "svgs/rust-svgrepo-com.svg" | relURL }}" style="width: 300px;"/>
        <p>
            One of Rust’s standout features is "fearless concurrency" — a result of its strict language constraints that prevent common pitfalls in concurrent programming.
            These constraints ensure safe access to shared data, significantly reducing the risk of bugs in multi-threaded applications.
        </p>
        <p>
            Rust’s memory model further simplifies reasoning about memory allocations.
            By making ownership and borrowing explicit, developers gain clear insights into how memory is managed, enabling smarter and more efficient usage.
        </p>
        <p>
            RapidRecast is built entirely with Rust, leveraging its powerful features to deliver a system that is not only extremely performant but also highly reliable.
        </p>
    </div>
</section>
