// Put your custom SCSS variables here


// Unused?
$font-family-sans-serif:
        "Poppins",
        "Satoshi",
        "Comic Sans",
        "Jost",
        serif;
:root,
::backdrop {
  --sl-font-system: "Poppins", "Jost", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --rr-font-header: "Satoshi", "Jost", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--rr-font-header);
}
